#filterContent{
    margin: 0px 10px;
}

#radioBtns{
    margin-top: 30px;
    font-size: 125%;
}

.labelText{
    margin-top: 20px;
    color: green;
    font-size: 125%;
}

.bold{
    font-weight: bold;
}