.menuCell{
    float: left;
    position: relative;
    border: 1px solid black;
    padding: 0px 10px;
    background-color: sandybrown;
    font-size: 120%;
    margin-bottom: 3px;
}

#subMenu{
    margin-top: 6px;
    height: 100%;
}

#homeMenu{
    margin-left: 5px;
}

#anuntMenu{
    margin-left: 5px;

}